@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Noto Sans', Arial, sans-serif ;
    /* font-size: xx-large; */
    color: rgb(79, 9, 9);
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 15px;
}

body {
    background-image: linear-gradient(#16bcc1,#9cf45e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1{
    font-size: 40px;
    font-style:initial;
    text-align: center;
    font-weight: 500;
    position: absolute;
    margin-top: -35%;
}
.calcultor{
    width: 90vw;
    height: 90vh;
}

.cc{
    margin-top: 10%;

    background-color: #5252525d;
    padding: 15px;
    box-shadow: 0 4px 30px #ffe4c423;
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
}
input {
    width: 60vw;
    height: 5%;
    background-color: #52525200;
    padding: 5px;
    outline: none;
    border: none;
    text-align: center;
}

.row {
    width: 60vw;
    display: flex;
    margin: 0;
}


.number {
    flex: 1;
    margin: 5px;
    cursor: pointer;
    background-color: #9cf45e53;
}

.operator {
    flex: 1;
    margin: 5px;
    cursor: pointer;
    background-color: #16bbc165;
}

.nither{
    flex:1;
    margin: 5px;
    cursor: pointer;
    background-color: #8ad4d777;
}

.basic_operator{
    flex: 1;
    margin: 5px;
    cursor: pointer;
    background-color: #f4b6eb75;
}

.almost_basic_operator{
    flex: 1;
    margin: 5px;
    cursor: pointer;
    background-color: #e84dd175;
}

.main_operator{
    flex: 1;
    margin: 5px;
    cursor: pointer;
    background-color: #848899;
}